body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 32px;
  margin: 30px 0;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0;
  text-align: center;
}

.options-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------- Button ----------- */
/* ----------- Button ----------- */
/* ----------- Button ----------- */

.button-on,
.button-off {
  width: 80%;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
  background-color: white;
  border-color: #e3e3e3;
  border-style: solid;
}

.button-on {
  border: 1px solid rgb(0, 119, 255);
  font-weight: bold;
}

/* ----------- Price Section ----------- */
/* ----------- Price Section ----------- */
/* ----------- Price Section ----------- */

.price {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.price p {
  font-size: 30px;
  width: 125px;
  text-align: end;
}

.price button {
  border: 2px solid #2782d1;
  height: 40px;
  width: 100px;
  cursor: pointer;
  background-color: #2d91e1;
  border-radius: 10px;
  font-size: 24px;
  color: white;
}
